* {
    box-sizing: border-box;
}
    
    html, body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #aaaaaa;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

h1.time {
    text-align: center;
}
.crypto-thumbnail {
    height: 25px;
    width: 25px;
}

.crypto-header {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 10px;
    gap: 5px;
}
p {
    margin:0;
}
.crypto-price > p {
    margin: 0 40px;
    font-size: .7rem;
}
/*
Challenge: Set up flexbox so the three elements are
evenly spread vertically on the screen (don't worry
about the horizontal alignment yet)
*/

